body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tablink {
  color: white;
  background-color: #495057;
  padding: 5px 10px;
}

.highlight {
  margin-top: -5px;
  color: black;
  border-top: 3px solid #0456f3;
  background-color: #ffffff;
}
#error {
  color: #d8000c;
}
.loaderClass {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
