@font-face {
  font-family: codeFont;
  src: url("fonts/DroidSansMono.ttf");
}

@font-face {
  font-family: boldFont;
  src: url("fonts/EuclidCircularA-Bold.otf");
}

@font-face {
  font-family: lightFont;
  src: url("fonts/EuclidCircularA-Light.otf");
}

@font-face {
  font-family: mediumFont;
  src: url("fonts/EuclidCircularA-Medium.otf");
}

@font-face {
  font-family: semiBold;
  src: url("fonts/EuclidCircularA-Semibold.otf");
}

@font-face {
  font-family: regular;
  src: url("fonts/EuclidCircularA-Regular.otf");
}

body {
  margin: 0;
  font-family: regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  font-family: codeFont !important;
}

.CodeMirror {
  font-size: 14px;
  border: 1px solid #d5dce5;
  border-top: 0px;
  height: 100vh !important;
  background: #ffff;
}

.CodeMirror-gutters {
  border: none;
  width: 28px;
  border-top: 1px solid #d5dce5;
  border-right: 1px solid #d5dce5;
  background-color: #eff2f6;
}

/* div > pre > span[role="presentation"] {
  background-color: red;
} */
.tablink {
  font-family: lightFont;
  color: #636489;
  border: 1px solid #d5dce5;
  border-bottom: 0px;
  background: #f5f5f5;
  padding: 12px 9px;
  width: 78px;
  height: 17px;
}
.fileAndRun::before {
  content: "";
  position: absolute;
  margin-left: 97px;
  bottom: 0;
  width: 87%;
  border-bottom: 1px solid #d5dce5;
}

.highlight {
  margin-top: -1px;
  color: black;
  border-top: 2px solid #0456f3;
  background-color: #ffffff;
}

#error {
  color: #d8000c;
}
.loaderClass {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#output-section {
  padding-left: 10px;
}
.loading-text {
  color: #66678e;
}
.not-allowed {
  cursor: not-allowed !important;
}

/* #plot-canvas {
  background-color: #ffffff;
  width: 100%;
} */

.mainLoadingText {
  font-family: boldFont;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .mainLoadingText {
    font-family: mediumFont;
    font-size: 20px;
  }
  .CodeMirror {
    height: 40vh !important;
  }
}

.secondaryLoadingText {
  font-family: mediumFont;
  font-size: 14px;
  margin-top: 20px;
}

/* toolTipTip code */

/*== start of code for toolTiptips ==*/

.toolTip-wrapper {
  background: #ececec;
  color: #555;
  cursor: help;
  font-family: "Gill Sans", Impact, sans-serif;
  font-size: 20px;
  z-index: 1000;
  /* margin: 100px 75px 10px 75px; */
  overflow: visible;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.toolTip-wrapper .tooltip {
  position: absolute;
  margin-bottom: -90px;
  padding: 8px;
  background: #d5dce5;
  color: #66678e;
  display: block;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.toolTip-wrapper .tooltip:before {
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.toolTip-wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-bottom: solid #d5dce5 10px;
  top: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.toolTip-wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* IE can just show/hide with no transition */
.lte8 .toolTip-wrapper .tooltip {
  display: none;
}

.lte8 .toolTip-wrapper:hover .tooltip {
  display: block;
}
